<div class="pvp-box">
    <div class="title">PVP ДАННЫЕ</div>
    <div class="left"
         style="margin-top: 10px;">
        <div class="total-battles">{{pvp.total_battles}}</div>
        <div class="total-kills">{{pvp.total_kills}}</div>
        <div class="total-deaths">{{pvp.total_deaths}}</div>
        <div class="total-assists">{{pvp.total_assists}}</div>
        <div class="total-damage">{{pvp.total_damage}}</div>
        <div class="total-heal">{{pvp.total_heal}}</div>
    </div>
    <hr class="delimiter-v">
    </hr>
    <div class="right"
         style="margin-top: 10px;">
        <div class="total-wins">{{pvp.total_wins}}</div>
        <div class="avg-kills">{{pvp.avg_kills}}</div>
        <div class="avg-deaths">{{pvp.avg_deaths}}</div>
        <div class="avg-assists">{{pvp.avg_assists}}</div>
        <div class="avg-damage">{{pvp.avg_damage}}</div>
        <div class="avg-heal">{{pvp.avg_heal}}</div>
    </div>
</div>