<div class="stats">

    <div class="dot">
        <div class="dot-inside">
            <div class="battles">
                <div class="dot-overline">
                    {{pvp.total_battles}}
                </div>
                <hr class="dot-delimiter-h">
                </hr>

                <div class="dot-underline">
                    {{text.total_battles}}
                </div>
            </div>
        </div>
    </div>

    <div class="dot">
        <div class="dot-inside">
            <div class="winrate">
                <div class="dot-overline">
                    {{pvp.winrate}}
                </div>
                <hr class="dot-delimiter-h">
                </hr>

                <div class="dot-underline">
                    {{text.winrate}}
                </div>
            </div>
        </div>
    </div>

    <div class="dot">
        <div class="dot-inside">
            <div class="kd">
                <div class="dot-overline">
                    {{pvp.kd}}
                </div>
                <hr class="dot-delimiter-h">
                </hr>

                <div class="dot-underline">
                    {{text.kd}}
                </div>
            </div>
        </div>
    </div>

    <div class="dot">
        <div class="dot-inside">
            <div class="avg-kills">
                <div class="dot-overline">
                    {{pvp.avg_kills}}
                </div>
                <hr class="dot-delimiter-h">
                </hr>

                <div class="dot-underline">
                    {{text.avg_kills}}
                </div>
            </div>
        </div>
    </div>

    <div class="dot">
        <div class="dot-inside">
            <div class="pvp-time">
                <div class="dot-overline">
                    {{pvp.total_time}}
                </div>
                <hr class="dot-delimiter-h">
                </hr>

                <div class="dot-underline">
                    {{text.pvp_time}}
                </div>
            </div>
        </div>
    </div>

</div>